<div id="contentRoot">
  <mat-toolbar class="mat-toolbar mat-toolbar-single-row">
    <button mat-icon-button><img src="assets/icon48.png"/></button>
  </mat-toolbar>

  <mat-sidenav-container class="fullHeight">
    <mat-sidenav mode="side" position="start" opened>
      <button mat-mini-fab
              (click)="onTransactions()">
        <mat-icon>monetization_on</mat-icon>
      </button>
      <br>
      <button mat-mini-fab
              (click)="onAccounts()">
        <mat-icon>money</mat-icon>
      </button>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="fullHeight" *ngIf="showTransactions">
        <app-transaction-view></app-transaction-view>
      </div>

      <div class="fullHeight" *ngIf="showAccounts">
        <app-accounts-page class="fullHeight"></app-accounts-page>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

