<div class="fullHeight">
  <h1>Money Manager</h1>

  <mat-sidenav-container class="fullHeight">
    <mat-sidenav mode="side" position="start" opened>
      <button mat-mini-fab></button><br>
      <button mat-mini-fab></button><br>
      <button mat-mini-fab></button><br>
    </mat-sidenav>

    <div id="contentRoot">
      <div class="toolbar">
        <button mat-raised-button color="primary" (click)="onTransactions">Transactions</button>
        <button mat-raised-button>Accounts</button>
      </div>
    </div>

  </mat-sidenav-container>
</div>

