html, body { height: 100%; }
body {
  display: block;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.fullHeight {
  display: block;
  height: 100%;
  margin: 100;
}

app-root {
  display: block;
  height: 100%;
}
