html, body {
  height: 100%;
}

body {
  display: block;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.fullHeight {
  display: block;
  height: 100%;
  margin: 0;
}

app-root {
  display: block;
  height: 100%;
}

.root-with-toolbar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

img.smallIcon {
  width: 16px;
  height: 16px;
}

.number {
  text-align: right;
}
