<mat-select
  [(value)]="selectedOption"
  (valueChange)="categoryTypeSelected($event)"
>
  <mat-option
    *ngFor="let item of combinedCategoryTypeOptions"
    [value]="item"
  >
    {{item.name}}
  </mat-option>
  <mat-divider></mat-divider>
  <mat-option
    *ngFor="let item of categoryTypeOptions"
    [value]="item"
  >
    {{item.name}}
  </mat-option>
</mat-select>

<mat-select
  [(value)]="selectedCategory"
  (valueChange)="onCategorySelected($event)"
>
  <mat-option [value]="allCategoriesLabel">{{allCategoriesLabel.name}}</mat-option>
  <mat-divider></mat-divider>
  <mat-option
    *ngFor="let category of categories"
    [value]="category"
  >
    {{category.name}}
  </mat-option>
</mat-select>

<mat-checkbox [(ngModel)]="showDeactivatedAccounts"
              (change)="onShowDeactivatedAccount($event.checked)"
>
  Show deactivated accounts
</mat-checkbox>
