<ng-container>
  <button mat-mini-fab (click)="prevMonth()">
    <mat-icon>arrow_left</mat-icon>
  </button>
  <button mat-mini-fab (click)="thisMonth()">
    <mat-icon>calendar_today</mat-icon>
  </button>
  <button mat-mini-fab (click)="nextMonth()">
    <mat-icon>arrow_right</mat-icon>
  </button>
  <mat-form-field style="margin-left: 10px;">
    <mat-select [(value)]="month" (valueChange)="onMonthChanged()">
      <mat-option *ngFor="let m of months; let i = index" [value]="i">
        {{months[i]}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin-left: 10px;">
    <mat-select [(value)]="year" (valueChange)="onYearChanged()">
      <mat-option *ngFor="let y of years" [value]="y">
        {{y}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
